body {
  margin: 0;
  font-family: "微软雅黑",Helvetica,sans-serif;
}

::selection{
  background-color: rgba(0, 0, 0, 0);
  color: #ff3c5e;
}

.rgba_ {
  background-color: rgb(252, 210, 11);
}

.rgba0 {
  background-color: rgb(118, 194, 175);
}

.rgba1 {
  background-color: rgba(2, 103, 130, 0.8);
}

.rgba2 {
  background-color: rgb(114, 194, 98);
}

.rgba3 {
  background-color: rgba(130, 37, 95, 0.8);
}

.rgba4 {
  background-color: rgb(224, 153, 94);
}