ul.person-cell {
  margin: 0;
  padding: 10%;
  height: 100%;
}
ul.person-cell li {
  list-style: none;
  font-weight: 700;
  font-size: 200%;
  color: #ffffff;
  padding: 1%;
  text-align: center;
}

ul.person-cell li.name {
  font-size: 700%;
}