ul.person-cell {
  margin: 0;
  padding: 10%;
  height: 100%;
}
ul.person-cell li {
  list-style: none;
  font-family: "微软雅黑",Helvetica,sans-serif;
  font-weight: 700;
  font-size: x-large;
  color: white;
  padding: 1%;
  text-align: center;
}

ul.person-cell li.name {
  font-size: 1000%;
}